<app-navbar [item]='option'></app-navbar>
<div id="ad-title">
    <h2>Gestión de órdenes</h2>
</div>
<div class="container-fluid">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="btn-delete"
                    (click)="deleteSelectedOrdenes()"
                    [disabled]="!ordenSeleccionada || !ordenSeleccionada.length"></button>
            </ng-template>
            <span class="p-input-icon-left" id="buscar">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar" />
            </span>
        </p-toolbar>

        <p-table #dt [value]="ordenes" [rows]="10" [paginator]="true" [totalRecords]="ordenes.length"
            [globalFilterFields]="['Cliente','Motorista','Estado']"
            [(selection)]="ordenSeleccionada" [rowHover]="true" dataKey="_id"
            currentPageReportTemplate="Mostrar de {first} a {last} de {totalRecords} órdenes"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="numeroOrder">No. Orden</th>
                    <th pSortableColumn="nombreCliente">Cliente</th>
                    <th pSortableColumn="ubicacionOrden">Ubicación</th>
                    <th pSortableColumn="factura">Total factura</th>
                    <th pSortableColumn="fecha">Fecha</th>
                    <th pSortableColumn="nombreMotorista">Motorista</th>
                    <th pSortableColumn="tipoEstado">Estado</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orden>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="orden"></p-tableCheckbox>
                    </td>
                    <td>{{orden.numOrden}}</td>
                    <td>{{orden.cliente.nombre}} {{orden.cliente.apellido}}</td>
                    <td>{{orden.ubicacionOrden.direccion}} Latitud: {{orden.ubicacionOrden.latitud}} Longitud: {{orden.ubicacionOrden.longitud}}</td>
                    <td>{{orden.factura.total | currency:'Lps. '}}</td>
                    <td>{{orden.fecha | date:'dd-MM-yyyy'}}</td>
                    <td>{{orden.motorista.nombre}} {{orden.motorista.apellido}}</td>
                    <td>{{orden.tipoEstado.nombreEstado}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editOrden(orden)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteOrden(orden)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{ordenes ? ordenes.length : 0 }} órdenes.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!--Modal Create Company-->

    <p-dialog [(visible)]="ordenDialog" [style]="{width: '450px'}" header="Detalle de Orden" [modal]="true"
        styleClass="p-fluid" id="admim-modal">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="numberOrder">No. Orden</label>
                <input type="text" pInputText id="numOrden" [(ngModel)]="orden.numOrden" required disabled/>
                <small class="p-error" *ngIf="submitted && !order.numOrder">Required.</small>
            </div>
            <div class="p-field">
                <label for="nameClient">Cliente</label>
                <input type="text" pInputText id="cliente" [(ngModel)]="orden.cliente.nombre" required disabled />
            </div>
            <div class="p-field">
                <label for="ubication">Ubicación</label>
                <input type="text" pInputText id="ubicacion" [(ngModel)]="orden.ubicacionOrden.direccion" required disabled/>
            </div>
            <div class="p-field">
                <label for="totalOrder">Total factura</label>
                <input type="text" pInputText id="totalFactura" [(ngModel)]="orden.factura.total" required disabled/>
            </div>
            <div class="p-field">
                <label for="date">Fecha</label>
                <input type="text" pInputText id="fecha" [(ngModel)]="orden.fecha" required disabled/>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Motorista</label>
                <p-dropdown [options]="listaMotoristas"  name="motorista" [(ngModel)]="orden.motorista" placeholder="Seleccione un motorista" 
                optionLabel="nombre"></p-dropdown>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Estado de orden</label>
                <input type="text" pInputText id="estado" [(ngModel)]="orden.tipoEstado.nombreEstado" required disabled/>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" id="btn-mmodal1"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" id="btn-mmodal2"
                (click)="saveOrden()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
