
<div class="container login-container">
    <div class="row">
        <img class="img-login" src="../../assets/img/Logo-Nany-trans-1.png" alt="Nany">
        <h4>Inicio de sesión para administración</h4>
    </div>
    <div class="content-login">
        <h5>Correo Electrónico</h5>
        <input class="form-control" type="email" placeholder="@email">
        <h5>Contraseña</h5>
        <input type="password" class="form-control" >
        <button type="button" class="btn btn-login"> Iniciar Sesión</button>
        
    </div>
</div>
