<div class="container" id="login-container">
    <div class="row">
        <img class="img-login" src="../../../assets/img/Logo-Nany-trans-1.png" alt="Nany">
        <h4>Inicio de sesión para administración</h4>
        <form class="needs-validation" novalidate [formGroup]="formLogin">
            <div class="content-login">
                <div>
                    <h5>Correo Electrónico</h5>
                    <input class="form-control" type="email" placeholder="ejemplo@gmail.com" formControlName="correo"
                    [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}" required>
                    <div class="invalid-feedback login-feedback" *ngIf="correo.errors">
                        <span *ngIf="correo.errors.pattern && correo.errors.pattern != null">Correo Inválido</span>
                        <span *ngIf="correo.errors.required && responseLoggin.code != 0">Este campo no puede quedar vacío</span>
                        <span *ngIf="responseLoggin.code == 0">{{responseLoggin.message}}</span>
                    </div>
                </div>
                <div class="mt-5">
                    <h5>Contraseña</h5>
                    <input type="password" class="form-control" name="password" autocomplete="on"
                    [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                    formControlName="password" required>
                    <div class="invalid-feedback login-feedback" *ngIf="password.errors">
                        <span *ngIf="password.errors.required && responseLoggin.code != 2">Este campo no puede quedar vacío</span>
                        <span *ngIf="password.errors.minlength && responseLoggin.code != 2">Mínimo 8 caracteres</span>
                        <span *ngIf="responseLoggin.code == 2">{{responseLoggin.message}}</span>
                    </div>
                </div>
              <button type="button" (click)="login()" class="btn btn-login mt-5"> Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>
