<app-navbar [item]='option'></app-navbar>
<div id="ad-title">
    <h2>Gestión de empresas</h2>
</div>
<div class="container-fluid">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="btn-new" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="btn-delete"
                    (click)="deleteSelectedCompanies()"
                    [disabled]="!empresaSeleccionada || !empresaSeleccionada.length"></button>
            </ng-template>
            <span class="p-input-icon-left" id="buscar">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar" />
            </span>
        </p-toolbar>

        <p-table #dt [value]="empresas" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="empresaSeleccionada" [rowHover]="true" dataKey="_id"
            currentPageReportTemplate="Mostrar de {first} a {last} de {totalRecords} empresas"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="idCategoria">Categoria</th>
                    <th pSortableColumn="name">Nombre</th>
                    <th pSortableColumn="description">Descripción</th>
                    <th pSortableColumn="resume">Resumen</th>
                    <th pSortableColumn="logo">Logo</th>
                    <th pSortableColumn="schedule">Horario</th>
                    <th pSortableColumn="ubication">Ubicación</th>
                    <th pSortableColumn="qualification">Calificación</th>
                    <th pSortableColumn="banner">Banner</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empresa>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="empresa"></p-tableCheckbox>
                    </td>
                    <td>{{empresa.nombreCategoria}}</td>
                    <td>{{empresa.nombre}}</td>
                    <td>{{empresa.descripcion}}</td>
                    <td>{{empresa.resumen}}</td>
                    <td><img [src]="empresa.logo" [alt]="empresa.nombre" width="90"
                            class="p-shadow-4" />
                    </td>
                    <td>{{empresa.horario}}</td>
                    <td>{{empresa.ubicacion}}</td>
                    <td>{{empresa.calificacion}}</td>
                    <td><img [src]="empresa.banner" [alt]="empresa.nombre" width="100"
                            class="p-shadow-4" />
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editCompany(empresa)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteCompany(empresa)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{empresas ? empresas.length : 0 }} empresas.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!--Modal Crear Empresa-->

    <p-dialog [(visible)]="empresaDialog" [style]="{width: '450px'}" header="Detalle de Empresa" [modal]="true"
        styleClass="p-fluid" id="admim-modal">
        <ng-template pTemplate="content">
            <img [src]="empresa.banner" [alt]="empresa.banner" class="company-banner"
                *ngIf="empresa.banner" width="100%">
            <div class="p-field">
                <label class="p-mb-3">Categoria</label>
                <p-dropdown [options]="categorias"  name="categoriaSeleccionada" [(ngModel)]="categoriaSeleccionada" placeholder="Seleccione una Empresa" optionLabel="nombre">
                </p-dropdown>
            </div>
            <div class="p-field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="empresa.nombre" required autofocus />
                <small class="p-error" *ngIf="submitted && !empresa.nombre">Name is required.</small>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Descripción</label>
                <textarea id="description" pInputTextarea [(ngModel)]="empresa.descripcion" required rows="3"
                    cols="20"></textarea>
            </div>
            <div class="p-field">
                <label for="resume">Resumen</label>
                <textarea id="resume" pInputTextarea [(ngModel)]="empresa.resumen" required rows="2"
                    cols="10"></textarea>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Logo</label>
                <p-fileUpload  customUpload="true" (uploadHandler)="onUpload($event,'logo')"
                accept="image/*" maxFileSize="10000000">
                    <ng-template pTemplate="content">
                        
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="p-field">
                <label for="schedule">Horario</label>
                <input type="text" pInputText id="schedule" [(ngModel)]="empresa.horario" required autofocus />
            </div>
            <div class="p-field">
                <label for="ubication">Ubicación</label>
                <input type="text" pInputText id="ubication" [(ngModel)]="empresa.ubicacion" required autofocus />
            </div>
            <div class="p-field">
                <label class="p-mb-3">Calificación</label>
                <p-inputNumber id="qualification" [(ngModel)]="empresa.calificacion"
                    placeholder="Ingrese un numero del 1 al 5"></p-inputNumber>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Banner</label>
                <p-fileUpload  customUpload="true" (uploadHandler)="onUpload($event,'banner')"
                accept="image/*" maxFileSize="10000000">
                    <ng-template pTemplate="content">
                        
                    </ng-template>
                </p-fileUpload>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" id="btn-mmodal1"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" id="btn-mmodal2"
                (click)="saveCompany()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>