<app-navbar [item]='option'></app-navbar>
<div id="ad-title">
    <h2>Gestión de motoristas</h2>
</div>
<div class="container-fluid">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="btn-delete"
                    (click)="deleteSelectedMotorista()"
                    [disabled]="!motoristaSeleccionado || !motoristaSeleccionado.length"></button>
            </ng-template>
            <span class="p-input-icon-left" id="buscar">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar" />
            </span>
        </p-toolbar>

        <p-table #dt [value]="motoristas" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="motoristaSeleccionado" [rowHover]="true" dataKey="_id"
            currentPageReportTemplate="Mostrar de {first} a {last} de {totalRecords} motoristas"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Nombre</th>
                    <th pSortableColumn="lastname">Apellido</th>
                    <th pSortableColumn="city">Ciudad</th>
                    <th pSortableColumn="gender">Género</th>
                    <th pSortableColumn="birthday">Nacimiento</th>
                    <th pSortableColumn="motorcycle">Motocicleta</th>
                    <th pSortableColumn="license">Licencia</th>
                    <th pSortableColumn="internet">Datos móviles</th>
                    <th pSortableColumn="experience">Experiencia</th>
                    <th pSortableColumn="status">Estado</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-motorista>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="motorista"></p-tableCheckbox>
                    </td>
                    <td>{{motorista.nombre}}</td>
                    <td>{{motorista.apellido}}</td>
                    <td>{{motorista.ciudad.ciudad}}</td>
                    <td>
                        <label *ngIf="motorista.genero">Femenino</label>
                        <label *ngIf="!motorista.genero">Masculino</label>
                    </td>
                    <td>{{motorista.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
                    <td> 
                        <fa-icon [icon]="faCheckCircle" class="fa-2x ic-check" *ngIf="motorista.tipoUsuario.motoristaInfo.motocicleta"></fa-icon>
                        <fa-icon [icon]="faTimesCircle" class="fa-2x ic-time" *ngIf="!motorista.tipoUsuario.motoristaInfo.motocicleta"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckCircle" class="fa-2x ic-check" *ngIf="motorista.tipoUsuario.motoristaInfo.licencia"></fa-icon>
                        <fa-icon [icon]="faTimesCircle" class="fa-2x ic-time" *ngIf="!motorista.tipoUsuario.motoristaInfo.licencia"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckCircle" class="fa-2x ic-check" *ngIf="motorista.tipoUsuario.motoristaInfo.datosMoviles"></fa-icon>
                        <fa-icon [icon]="faTimesCircle" class="fa-2x ic-time" *ngIf="!motorista.tipoUsuario.motoristaInfo.datosMoviles"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckCircle" class="fa-2x ic-check" *ngIf="motorista.tipoUsuario.motoristaInfo.experiencia"></fa-icon>
                        <fa-icon [icon]="faTimesCircle" class="fa-2x ic-time" *ngIf="!motorista.tipoUsuario.motoristaInfo.experiencia"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faCheckCircle" class="fa-2x ic-check" *ngIf="motorista.tipoUsuario.motoristaInfo.estadoAdmision"></fa-icon>
                        <fa-icon [icon]="faTimesCircle" class="fa-2x ic-time" *ngIf="!motorista.tipoUsuario.motoristaInfo.estadoAdmision"></fa-icon>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editMotorista(motorista)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteMotorista(motorista)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{motoristas ? motoristas.length : 0 }} motoristas.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!--Modal Create Company-->

    <p-dialog [(visible)]="motoristaDialog" [style]="{width: '450px'}" header="Detalle de Motorista" [modal]="true"
        styleClass="p-fluid" id="admim-modal">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="motorista.nombre" required disabled />
                <small class="p-error" *ngIf="submitted && !motorista.nombre">Name is required.</small>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Apellido</label>
                <input type="text" pInputText id="lastname" [(ngModel)]="motorista.apellido" required disabled />
            </div>
            <div class="p-field">
                <label for="city">Ciudad</label>
                <input type="text" pInputText id="city" [(ngModel)]="motorista.ciudad.ciudad" required disabled />
            </div>
            <div class="p-field">
                <label for="gender">Género</label>
                <input type="text" pInputText id="gender" [(ngModel)]="motorista.genero" required disabled />
            </div>
            <div class="p-field">
                <label for="birthday">Fecha de nacimiento</label>
                <input type="text" pInputText id="birthday" [(ngModel)]="motorista.fechaNacimiento" required disabled />
            </div>
            <div class="p-field">
                <label for="motorcycle" class="mb-2">¿Posee motocicleta?</label><br>
                <p-inputSwitch [(ngModel)]="motorista.tipoUsuario.motoristaInfo.motocicleta" class="mb-2" disabled></p-inputSwitch>
            </div>
            <div class="p-field">
                <label class="mb-2">Licencia vigente</label><br>
                <p-inputSwitch [(ngModel)]="motorista.tipoUsuario.motoristaInfo.licencia" class="mb-2" disabled></p-inputSwitch>
            </div>
            <div class="p-field">
                <label for="internet" class="mb-2">Datos móviles</label><br>
                <p-inputSwitch [(ngModel)]="motorista.tipoUsuario.motoristaInfo.datosMoviles" class="mb-2" disabled></p-inputSwitch>
            </div>
            <div class="p-field">
                <label for="experience" class="mb-2">Experiencia</label><br>
                <p-inputSwitch [(ngModel)]="motorista.tipoUsuario.motoristaInfo.experiencia" class="mb-2" disabled></p-inputSwitch>
            </div>
            <div class="p-field">
                <label for="status" class="mb-2">Estado</label><br>
                <p-inputSwitch [(ngModel)]="motorista.tipoUsuario.motoristaInfo.estadoAdmision" (onChange)="handleChange($event)" class="mb-2"></p-inputSwitch>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" id="btn-mmodal1"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" id="btn-mmodal2"
                (click)="saveMotorista()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>