<div id="ad-title">
    <h2>Gestión de productos</h2>
</div>
<div class="container">
    <p-toast></p-toast>

    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="btn-new" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="btn-delete"
                    (click)="deleteSelectedProducts()"
                    [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>
            <span class="p-input-icon-left" id="buscar">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar" />
            </span>
        </p-toolbar>

        <p-table #dt [value]="products" [rows]="10" [paginator]="true"
            [globalFilterFields]="['name','country.name','representative.name','status']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrar de {first} a {last} de {totalRecords} productos"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Nombre<p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">Precio<p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity">Existencia<p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th pSortableColumn="image">Imagen<p-sortIcon field="image"></p-sortIcon>
                    </th>
                    <th pSortableColumn="company">Empresa <p-sortIcon field="company"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price | currency:'L. '}}</td>
                    <td>{{product.quantity}}</td>
                    <td><img [src]="'../../assets/img/' + product.image" [alt]="product.name" width="100"
                            class="p-shadow-4" />
                    </td>
                    <td>{{product.company}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{products ? products.length : 0 }} productos.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!--Modal Create Product-->

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Detalle de Producto" [modal]="true"
        styleClass="p-fluid" id="admim-modal">
        <ng-template pTemplate="content">
            <img [src]="'../assets/img/' + product.image" [alt]="product.image"
                class="product-image" *ngIf="product.image">
            <div class="p-field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
                <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            <div class="p-field">
                <label for="description">Descripción</label>
                <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
                    cols="20"></textarea>
            </div>
            <div class="p-field">
                <label for="inventoryStatus">Precio</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US">
                </p-inputNumber>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Existencia</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
            <div class="p-field">
                <label for="name">Empresa</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.company" required autofocus />
            </div>
              <!--<p-dropdown [(ngModel)]="product.comapny" inputId="company" [options]="statuses"
                    placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown> *Este sera para las empresas -->
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" id="btn-mmodal1"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" id="btn-mmodal2"
                (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>