<div class="container">
    <img class="img-login" src="../../../assets/img/Logo-Nany-trans-1.png" alt="Nany" routerLink="/">
    <div class="content-login" style="background-color: #FFE9C7">
        <h4 class="mt-0 mb-5">¿Qué deseas administrar hoy?</h4>
        <div class="col-6 d-inline-block">
          <button class="btn-opt-login" routerLink="/Empresas">
            <img src="../../../assets/iconos/empresa-blanco.png">
            Empresas</button>
        </div>
        <div class="col-6 d-inline-block">
          <button class="btn-opt-login" routerLink="/Productos">
            <img src="../../../assets/iconos/caja-blanco.png">
            Productos</button>
        </div>
        <div class="col-6 d-inline-block mt-4">
          <button class="btn-opt-login" routerLink="/Motoristas">
            <img src="../../../assets/iconos/moto-blanco.png">
            Motoristas</button>
        </div>
        <div class="col-6 d-inline-block mt-4">
          <button class="btn-opt-login" routerLink="/Ordenes">
            <img src="../../../assets/iconos/nota-blanco.png">
            Ordenes</button>
        </div>
    </div>
</div>

