/*Nany colors*/
$color-pink1: #D60451
$color-pink2: #A6032F
$color-pink3: #FFE9C7
$color-blue1: #11BDF2
$color-blue2: #1A7BDB

/*Nany Fonts*/
@font-face 
    font-family: 'Roboto'
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf')

@font-face 
    font-family: 'Raleway'
    src: url('assets/fonts/Raleway/Raleway-Bold.ttf')

body 
    background-color: $color-pink3

/*Menu Styles*/
.p-component, .p-component
    float: right
    margin-top: 23px

.p-component, .p-component * 
    color: $color-pink1

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link
    border-color: $color-pink2
    color: $color-pink2

#menu-admin img 
    width: 180px
    margin: 5px 20px

#menu-admin
    background-color: #fff

/*Table Styles*/
.container 
    background-color: #fff
    border-radius: 5px

#ad-title
    width: 100%
    color: $color-pink2
    padding-top: 28px
    padding-bottom: 20px

#ad-title h2 
    text-align: center
    font-family: Roboto
