/*Nany colors*/
$color-pink1: #D60451
$color-pink2: #A6032F
$color-pink3: #FFE9C7
$color-blue1: #11BDF2
$color-blue2: #1A7BDB

/*Nany Fonts*/
@font-face
    font-family: 'Roboto'
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf')

@font-face
    font-family: 'Raleway'
    src: url('assets/fonts/Raleway/Raleway-Bold.ttf')

#body
    background-color: $color-pink3
    font-family: 'Roboto', sans-serif !important

/*Login*/
h4
    color: $color-pink2
    text-align: center
    margin-top: 30px !important

h5
    color: #000
    text-align: initial
    margin-bottom: 25px

#login-container
    background-color: $color-pink3
    font-family: 'Raleway' !important
    
.content-login input
    color: #000
    background-color: $color-pink3
    border-radius: 10px
    border: none
    height: 40px
    padding: 15px
    width: 100%
    margin-bottom: 30px

.content-login input:focus
    box-shadow: 0 0 0 0.15rem $color-pink2 !important

.content-login input:visited
    background-color: #fff

.btn-login
    background-color: $color-blue2
    margin-top: 10px
    border-radius: 30px
    color: #fff
    margin-left: auto
    margin-right: auto
    display: block
    
.img-login
    width: 30%
    margin-left: auto
    margin-right: auto
    margin-top: 8%

.content-login
    background-color: #fff
    box-sizing: border-box
    margin-top: 20px
    padding: 50px 40px
    width: 50%
    margin-left: auto
    margin-right: auto
    display: block
    border-radius: 20px

.btn-opt-login
    color: #fff
    background-color: $color-blue2
    border-radius: 15px
    margin-top: 10px
    width: 90%
    border: 1px solid $color-blue2
    margin-left: auto
    margin-right: auto
    display: block

.btn-opt-login:hover
    background-color: #1664b3

.content-login img
    height: auto
    margin: 5px 3px
    width: 30%


/*Menu Styles*/
.container
    margin-left: auto !important
    margin-right: auto !important
    padding-left: 0px !important
    padding-right: 0px !important
    border-radius: 5px

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link
    border-color: $color-pink1
    color: $color-pink1

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus
    color: $color-pink2
    box-shadow: none

.p-button-success
    color: #fff !important
    background-color: $color-pink2 !important
    border: none !important

.p-button-warning
    color: #fff !important
    background-color: $color-blue2 !important
    border: none !important
    margin-left: 5px !important

#menu-admin img 
    width: auto
    margin: 5px 20px
    height: 62.14px

#menu-admin
    background-color: #fff

#menu-admin p-tabMenu
    float: right
    position: relative
    margin-top: 24px
    color: $color-pink1

/*Table Styles*/
.container
    background-color: #fff
    border-radius: 5px
    margin-left: 10px
    margin-right: 10px
    width: 100%

.p-toolbar
    display: block !important

.btn-new
    background-color: $color-blue1
    border-radius: 25px
    width: 15%
    margin-right: 20px
    border: none

.btn-delete
    background-color: $color-pink1
    opacity: 0.9
    width: 45px !important
    border-radius: 50%
    border: 1px solid $color-pink2

#ad-title
    width: 100%
    color: $color-pink2
    padding-top: 28px
    padding-bottom: 20px

#ad-title h2 
    text-align: center

#buscar
    margin-top: 0px
    display: flex
    float: right

#admim-modal textarea, #admim-modal input 
    background-color: $color-pink3
    border: none
    margin-top: 5px
    margin-bottom: 5px
    border-radius: 10px

#admim-modal label 
    font-family: Roboto

#btn-mmodal1
    background-color: $color-blue1
    border-radius: 30px
    margin-top: 10px
    color: #fff

#btn-mmodal2
    background-color: $color-blue2
    border-radius: 30px
    margin-top: 10px
    color: #fff
    